:root {
    --sidebar-color: #1992D4;
    --background-color: #E2E8F0;
    --border-color: #F0B429;
}
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: "Roboto", system-ui;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

html,
body {
    height: 100%;
}

.sidebar {
    font-weight: bold;
    background-color: var(--sidebar-color);
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1%;
    min-width: 290px;
}


.sidebar div:not(.dashboard) {
    display: flex;
    gap: 12%;
    margin-left: 7%;
}

.sidebar div img{
    height: 40px;
    filter: brightness(0) invert(1);
    padding-left: 7%;
}

.sidebar div p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    display: flex;
    gap: 5%;
    margin-bottom: 10%;
    padding: 7%;
}

.dashboard p {
    font-size: 2rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#dashboard-img {
    height: 80px;
    grid-column: 1 / 2;
    padding: 0;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 175px 1fr;
}

.header {
    display: grid;
    grid-row: 75px 100px;
    box-shadow: 0px -15px 20px -7px grey outset;
}

.first-line {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 75px;
    display: flex;
    align-items: center;
    gap: 3%;
}

form {
    display: flex;
    flex-grow: 1.7;
}

#search {
    flex-grow: 1;
    flex-shrink: 0;
}

.last-line {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    height: 75px;
    display: flex;
    align-items: center;
    width: 100%;
}

label img {
    min-height: 30px;
    height: 30px;
    padding-left: 45px;
    padding-right: 16px;
}

#notificationImage {
    height: 30px;
}

.right {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 5%;
    flex-shrink: 0;
}

#manat {
    font-weight: bold;
    font-size: 1.2rem;
}

#picture {
    height: 50px;
}

input {
    background-color: var(--background-color);
    border-radius: 15px;
    border: none;
    padding: 5px;
}

#buttons {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 15px;
    flex-wrap: nowrap;
}

button {
    padding: 14px 40px;
    border-radius: 30px;
    border: none;
    background-color: var(--sidebar-color);
    font-weight: bold;
    color: white;
    margin: 0 20px;
}

.communities {
    margin-bottom: 20%;
}

#avatar {
    height: 70px;
    padding-left: 45px;
    padding-right: 20px;
}

#name {
    font-weight: bold;
    font-size: 1.4rem;
    flex-grow: 1;
}

#name::before {
    font-size: 1rem;
    content: "Hi there,";
}

.main {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 1fr 1fr 0.6fr;
    padding: 30px 25px;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    font-weight: bold;
    font-size: 1.2rem;
    gap: 20px;
}

#share-button {
    margin-right: 100px;
}

#text-projects {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    align-items: end;
    padding-left: 3px;
}

#text-announcements {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: grid;
    align-items: end;
    padding-left: 3px;
}

.rest {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 0.1fr 0.4fr 2fr;
    gap: 20px;
}

.announcements {
    padding: 35px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: space-around;
}

.announcements p {
    font-size: 1rem;
    color: black;
}

.announcements div {
    font-size: 0.7rem;
    color: gray;
}

.hyphen {
    padding-bottom: 8px;
    text-align: center;
}

.text-people {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    font-size: 1.2rem;
    display: flex;
    align-items: end;
    padding-left: 3px;
}

.people {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    background-color: white;
    border-radius: 15px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.people div img {
    height: 45px;
}

#kuka {
    display: flex;
    gap: 10px;
    align-items: center;
    color: gray;
}

#kuka p::before {
    content: "@combo_boxmaster       ";
    font-size: 0.9rem;
    color: black;
}

#aset {
    display: flex;
    gap: 10px;
    align-items: center;
    color: grey;
}

#aset p::before {
    color: black;
    content: "@zaualmakan";
    font-size: 0.9rem;
}

#projects {
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    padding: 35px;
    background-color: white;
    border-radius: 15px;
    border-left: 5px solid red;
}

.card p {
    font-size: 0.9rem;
    color:grey;
}

.project-name {
    margin-bottom: 5px;
}